@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tangerine&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    background-color:  #2fb8d0;
}

h1{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #fff;
}



.img-gallery{
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 20px;
}
.img-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.img-gallery .img-item{
    overflow: hidden;
}
.img-gallery .img-item:hover img{
    /* transform: scale(.8) rotate(-15deg); */
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* ----------css full-img   ---------- */
.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top:0;left:0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.full-img img{
    max-width: 50%;
    height: 80%;
    object-fit: cover;
}
/* css nut X */
.full-img span{
    position: absolute;
    top: 5%;right: 5%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}